<footer>



<div class="flex-footer">

<div class="footer-tablebox"> 
<div class="footer-headline">Who We Are</div>
<div class="footer-seperator"></div>
<ul class="footer-navlink">
<li><a >Career</a></li>
<div class="footer-seperator"></div>
<li><a >About Gracious Crossing</a></li>
<div class="footer-seperator"></div>
<li><a >Press Center</a></li>
<div class="footer-seperator"></div>
<li><a >Investor Relations</a></li>
<div class="footer-seperator"></div>
<li><a >Advertise</a></li>
<div class="footer-seperator"></div>
<li><a >Company News</a></li>
<div class="footer-seperator"></div>
</ul>
</div>
<!--first tablebox stops here-->
<div class="footer-tablebox"> 
<div class="footer-headline">Featured</div>
<div class="footer-seperator"></div>
<ul class="footer-navlink">
<li><a >New York, NYC</a></li>
<div class="footer-seperator"></div>
<li><a >Atlanta, GA</a></li>
<div class="footer-seperator"></div>
<li><a >Miami, Florida </a></li>
<div class="footer-seperator"></div>
<li><a >Los Angeles, California</a></li>
<div class="footer-seperator"></div>
<li><a >Seattle, Washington</a></li>
<div class="footer-seperator"></div>
<li><a >Washington DC</a></li>
<div class="footer-seperator"></div>
</ul>
</div>
<!--seconds tablebox stops here-->
<div class="footer-tablebox"> 
<div class="footer-headline">Make Money</div>
<div class="footer-seperator"></div>
<ul class="footer-navlink">
<li><a>Invest</a></li>
<div class="footer-seperator"></div>
<li><a>Affiliate</a></li>
<div class="footer-seperator"></div>
<li><a>Property Listing </a></li>
<div class="footer-seperator"></div>
<li><a>Real Estate</a></li>
<div class="footer-seperator"></div>
<li><a>Mortgage</a></li>
<div class="footer-seperator"></div>
<li><a>Lender</a></li>
<div class="footer-seperator"></div>
</ul>
</div>
<!--third tablebox stops here-->
<div class="footer-tablebox" style="border-right:none ;border-bottom: none;"> 
<div class="footer-headline">Help</div>
<div class="footer-seperator"></div>
<ul class="footer-navlink">
<li><a routerLink="/contact" routerLinkActive="activebutton" ariaCurrentWhenActive="page" >Contact Us</a></li>
<div class="footer-seperator"></div>
<li><a >FAQs</a></li>
<div class="footer-seperator"></div>
<li><a >COVID-19 </a></li>
<div class="footer-seperator"></div>
<li><a >Send Feedback</a></li>
<div class="footer-seperator"></div>
<li><a >Privacy Policies</a></li>
<div class="footer-seperator"></div>
<li><a >Avoid Scams</a></li>
<div class="footer-seperator"></div>
</ul>
</div>
<!--fourth tablebox stops here-->


</div>
<hr style="color: white;
border: solid 1px;">
        
    
<p style="color: #fff; text-align: center;">
&#169; Gracious_Crosing or its affiliated companies. All rights reserved. 
</p>

<div class="footer-logo-box">
<a onclick="window.scrollTo(0, 0);" class="logo-footer">
<img src="../../assets/img/Gracious-crossing.png" alt="this is the Gracious_Crosing logo">
</a>
</div>
</footer>
