
<div class="manage-hero">
    <div style="transform: translateY(34px);">
    <div class="manage-hero-box">
    <h1 class="manage-hero-text">
    
        Put your rental property on the market for free with 
        <br> our simple and rapid listing service.
    </h1>

 


    <div class="address-box">
    
    
    <form action="">

    <input type="text" id="address" placeholder="Street Address">
    

    <input type="text" id="street" placeholder="Property Type">
    
    <button id="listbtn" >
        Get Started
    </button>
  

   
    

    

 
    </form>
    </div>
    
  
 </div>
</div>
</div>


<div class="list-container">
<div class="list-title">
    <h1>Fill your position on a website that receives over one million visits every day.</h1>

<p>To help you locate the appropriate tenant, use the network that receives over 30 million visits every month.</p>
</div>








<div class="card">
<div class="tagline-header">
<h1 id="tagline1h" class="tagline-header1">Find the best homes</h1>
<p id="tag1p" class="tagline-header1p">
    Listing your property for rent on Gracious-Crossing will put it in front of the most-trafficked rental network in the business.
</p>
</div>
<div  class="card-img">
</div>
</div>

<div class="card">
<div class="card-img2">
</div>
<div class="tagline-header tag-con">
<h1 id="tagline1h" class="tagline-header1">Make a list of available properties to rent.</h1>
<p id="tag1p" class="tagline-header1p">
    Adding a listing is as simple as filling out the form, uploading images, and hitting publish.
</p>
<h1 id="tagline1h" class="tagline-header1">Send a message to potential tenants.</h1>
<p id="tag1p" class="tagline-header1p">
    Graciuos-Crossing can help you keep organized while you're searching for a new tenant.
</p>
<h1 id="tagline1h" class="tagline-header1">Your rental ad should be repurposed.</h1>
<p id="tag1p" class="tagline-header1p">
    Are you ready for a fresh round of tenants? With a simple click of the mouse, you may republish your listings.
</p>
</div>
</div>

<div class="card">
<div class="tagline-header">
<h1 id="tagline3h" class="tagline-header1">How much will it cost you to rent an House?</h1>
<p id="tag1p" class="tagline-header1p">
    Your Graciuos-Crossing estimate will be included into the listing and you'll have access to options to compare your home to other listings.
</p>
<a id="tagline1a" class="tagline-header1a" href="#!">Gracious-Crossing Estimate</a>

</div>
<div class="card-img3">
</div>
</div>


<div class="card">
    <div  class="card-img1">
    </div>
    <div class="tagline-header">
    <h1 id="tagline1h" class="tagline-header1">Find the best homes</h1>
    <p id="tag1p" class="tagline-header1p">
        Listing your property for rent on Gracious-Crossing will put it in front of the most-trafficked rental network in the business.
    </p>
    </div>
   
    </div>

</div>