<nav id="navbar" class="navbar">

<a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="logo" >
<img src="../../assets/img/Gracious-crossing.png" alt=""></a>
<ul class="navlinks">
<li><a routerLink="/advertise" routerLinkActive="activebutton" ariaCurrentWhenActive="page" >Advertise</a></li>
<li><a routerLink="/manage" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Manage Property</a></li>
<li><a routerLink="/signin" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Sign in</a></li>
<li><a routerLink="/signup" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Sign up</a></li>
<li><a routerLink="/help" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Help</a></li>
</ul>


</nav>