<div class="hero-help">

<form action="">
<div class="input-box">
<input spellcheck="true" id="hero-text"  type="text" placeholder="How Can We Help?">
<span>
<button class="search-btn">
<img src="../../assets/img/search_icon.png" alt="">
</button>
</span>
</div>
</form>
</div>

<div class="help-headline-text">
<h1>Welcome to Gracious Crossing help Center!</h1>
<p>Find answers to the questions you need</p>
</div>

<div class="help-container">

<div class="renter">
<span><img src="../../assets/img/help-key.png" height="40px" alt=""></span>
<h1>Tenant</h1>
<p>Learn about searching for homes, applying and paying rent online</p>
<a href="#!">Rent Help Center</a>
</div>
<div class="renter">
<span><img src="../../assets/img/help-house.png" height="40px" alt=""></span>
<h1>Manager</h1>
<p>Get help managing and adding details your owned propertys.</p>
<a href="#!">Manager Rent Help Center</a>
</div>


</div>


<!--faq section starts here-->

<section class="faq-container">
<div class="faq-title">Frequently asked questions</div>





<div class="faq-box">
<ul style="padding-right: 5rem;">
<div class="faq-renter-title"><h1>Top FAQS for renters</h1></div>
 
<li><a href="#!">How do I avoid scams?</a></li> 
<li><a href="#!">Will you help me find a home?</a></li> 
<li><a href="#!">How do I apply for rental homes?</a></li> 
<li><a href="#!">A landlord is not responding...</a></li> 
</ul>
<ul>

<div class="faq-renter-title"><h1>Top FAQS for Managers</h1></div>
 
<li><a href="#!">I'm having trouble verifying my listing...</a></li> 
<li><a href="#!">I'm having issues logging in...</a></li> 
<li><a href="#!">Why was my listing rejected?</a></li> 
<li><a href="#!">How I refresh a listing?</a></li> 
</ul>
</div>

    
    
</section>
<div class="help-listing-box">

<div class="help-listing-title">
<h1>Manage homes</h1>
<p>List homes for rent and purchase using the best up-to-date network in the world.</p>
<button><a (click)="gotomyAdvertise()"routerLinkActive="router-link-active" class="manage-property-button">Advertise</a></button>
</div>

</div>