

    <div class="manage-hero1">
        <div class="manage-hero-box">
        <h1 class="manage-hero-text">
        List Your Property.
      <br>
        Get Paid
        </h1>

     
        
        <div class="manage-hero-subtitle">Gracious Crossing Rental Managment service</div>
        

        
        <button (click)="gotomyRental()"routerLinkActive="router-link-active" class="manage-property-button">Price Your Property Free</button>
        
        
        
        <div style="margin-top: 1rem;">
        <a 
        style="color: white;
        text-decoration: none;" routerLink="/signin" routerLinkActive="active" ariaCurrentWhenActive="page">Already have an account
        </a>
        </div>
        
        </div>
        </div>

        <div class="promo-wrapper-box">
        
            <div class="promowrapper">
            
            <div class="promobox-1">
            
            <img src="../../assets/img/promo house.png" style="padding-bottom: 80px;" height="80px" alt="">
            
            <div class="promotitle-1">
                Fill vacancies and
                <br>
                manage properties</div>
            
            <div class="promosubtitle-1">
                Landlording made simple, whether you have one rental or an entire portfolio.
            </div>
            </div>
            
            
            <div class="promobox-1">
            
                <img src="../../assets/img/promo-connect.png" style="padding-bottom: 80px;" height="80px" alt="">
            
            <div class="promotitle-1">
                Over 50 million
                visitors each month</div>
            
            <div class="promosubtitle-1">
            We will list your property across the Gracious Crossing platform.
            </div>
            
            </div>
            <div class="promobox-1">
            
            <img src="../../assets/img/medal.png" style="padding-bottom: 80px;" height="80px" alt="">
            
            <div class="promotitle-1">
                A Brand you
                <br>
                can trust</div>
            
            <div class="promosubtitle-1">
            Gracious Crossing was designed by industry experts to make it easier for you to manage your property.
            </div>
            
            </div>
            </div>
            
            
            </div>

    <div class="manage-hero">
        <div class="manage-hero-box">
        <h1 class="manage-hero-text">
        
        Sign a Lease. <br>
        Get Paid
        </h1>

     
        
        <div class="manage-hero-subtitle">Gracious Crossing Rental Managment service</div>
        

        
        <button (click)="gotomyListing()"routerLinkActive="router-link-active" class="manage-property-button">Post Your Listing Free</button>
        
        
        
        <div style="margin-top: 1rem;">
        <a 
        style="color: white;
        text-decoration: none;" routerLink="/signin" routerLinkActive="active" ariaCurrentWhenActive="page">Already have an account
        </a>
        </div>
        
        </div>
        </div>
        
        <div class="promo-wrapper-box">
        
        <div class="promowrapper">
        
        <div class="promobox-1">
        
        <img src="../../assets/img/promo house.png" style="padding-bottom: 80px;" height="80px" alt="">
        
        <div class="promotitle-1">
            Fill vacancies and
            <br>
            manage properties</div>
        
        <div class="promosubtitle-1">
            Landlording made simple, whether you have one rental or an entire portfolio.
        </div>
        </div>
        
        
        <div class="promobox-1">
        
            <img src="../../assets/img/promo-connect.png" style="padding-bottom: 80px;" height="80px" alt="">
        
        <div class="promotitle-1">
            Over 50 million
            visitors each month</div>
        
        <div class="promosubtitle-1">
        We will list your property across the Gracious Crossing platform.
        </div>
        
        </div>
        <div class="promobox-1">
        
        <img src="../../assets/img/medal.png" style="padding-bottom: 80px;" height="80px" alt="">
        
        <div class="promotitle-1">
            A Brand you
            <br>
            can trust</div>
        
        <div class="promosubtitle-1">
        Gracious Crossing was designed by industry experts to make it easier for you to manage your property.
        </div>
        
        </div>
        </div>
        
        
        </div>
        
        <div class="landlord-container">
         <h2 class="landlord-title">It's easier than ever to be a landlord</h2>   
        
        
        <div class="landlord-subtitle">
        Use Gracious Crossing management tools to help you get what you need — <br> On Time Payments.    
        </div>
        </div>
        
        
